datasets #==2.18.0
numpy #==1.26.4
pandas #==2.2.1
scikit-learn #==1.4.1.post1
torch #==2.2.2
transformers #==4.39.2
spacy #==3.7.4
en-core-web-sm # ==3.7.1 # if doesn't work, run: python -m pip install spacy; python -m spacy download en_core_web_sm